body {
  overflow: hidden;
}

div#board {
  position: absolute;
  left: 0px;
  top: 0px;
}

div.mine {
  width: 72px;
  height: 72px;
  text-align: center;
  position: absolute;
  cursor: pointer;
  -webkit-box-shadow: inset 1px 1px 5px 2px #888;
  box-shadow: inset 1px 1px 5px 2px #888;
  -moz-box-shadow: inset 1px 1px 5px 2px #888;
  border: 1px inset #5aa0b8;
  background-color: #ccc;
}

div.mine-state-2 {
  background-image: url('/i/bomb.png');
}

.blue {
  color: blue;
}

.red {
  color: red;
}
